# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/zadanie1/cmake-build-debug
/zadanie1/.idea
/zadanie2/.idea
zadanie1/CMakeLists.txt
/MPI_samples
/zadanie1/testy
